.landing-container {
  padding: 1rem 3rem;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.recipe-card {
  box-shadow: 0px 0px 7px 4px #c6c0c0;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.recipe-card h3 {
  font-size: 1.75rem;
}
.recipe-image-container {
  width: 20rem;
  height: 20rem;
  background: var(--secondary-color);
  align-self: flex-start;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-image-container img {
  width: 100%;
  position: relative;
  height: 100%;
  object-fit: cover;
}
.detail-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.detail-list-container .detail-list {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 0.15rem;
}

.detail-list .heading {
  font-weight: bold;
}

.add-new {
  padding: 2rem;
  font-size: 8rem;
  display: flex;
  align-items: center;
  color: #b1afaf;
}
.add-new .icon {
  cursor: pointer;
}

.modal-container {
  color: white;
  background: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-sm);
  display: flex;
  box-shadow: 0px 0px 5px 2px #181818;
  z-index: 99;
  padding: 2rem;
  gap: 1rem;
  border-radius: 10px;
  flex-direction: column;
}
.myoverlay {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.new-image {
  width: 20rem;
  height: 20rem;
  background: var(--secondary-color);
  align-self: flex-start;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-image img {
  width: 100%;
  position: relative;
  height: 100%;
  object-fit: cover;
}

.action-item{
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
    background: white;
    position: absolute;
    z-index: 99;
    right: 2rem;
}